@import url('https://fonts.googleapis.com/css?family=Quicksand');
/* Heading */
@import url('https://fonts.googleapis.com/css?family=Karla');
/* Body */

.App {
  text-align: center;
  font-family: 'Karla', sans-serif;
}

.app-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brand-header {
  color: #00d1b2;
  font-family: 'Quicksand', sans-serif;
}

.nav-icon-container {
  display: flex;
  flex-direction: row;
}

.nav-icons {
  margin: 10px;
}

.navbar {
  margin: 10px;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}