.card-container {
  width: 500px;
}

.card-body {
  
}

.left-box {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.heading-name {
  display: block;
}

.locality-subHeading {
  display: block;
}

.thumbnail-container {
  width: 200px;
  height: 200px;
}